<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sitewatch", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Sites", sites_path %></li>
          <li><%= link_to "Contacts", contacts_path %></li>
          <li><%= link_to "Hardware", parts_path %></li>
          <li><%= link_to "About", about_path %></li>
          
        </ul>
      </nav>
    </div>
  </div>
</header>